@{
    ViewBag.Title = "About Analise Johnson";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is my first application for MIS 4200. 
    I am a senior at Ohio University studying MIS and business analytics along with a minor in Sales and Marketing.
    I have two younger brothers and a dog named Sager. Im a die hard cleveland sports fan. 
    I am on the full time job hunt for a job in the IT indutry either project management or consulting.</p>
