@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cleveland, Ohio<br /><br />
    Phone: 440.452.0226
</address>

<address>
    <strong>SchoolEmail:</strong>   <a>aj618615@ohio.edu</a><br />
    <strong>Personal Email:</strong>   <a>analiseg315@gmail.com</a><br />
</address>