@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS 4200</h2>
    <p>This is a sample page site for MIS4200</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This Class</h2>
        <p>
            This class is an intro to MVC development using SCRUM
        </p>

    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>MVC is a Model-View-Controller</p>
    </div>
    <div class="col-md-4">
        <h2>What i want to learn</h2>
        <p>Im excited to finish one of my last MIS courses and understand HTML more and lean about SCRUM and MVC.</p>
    </div>
</div>